<div class="container-fluid p-0" style="width: 100%; height: 100vh;">
    <div class="text-wrapper" style="background-color: black">
        <div class="title" data-content="404">
            Error 403 - Acceso Denegado
        </div>

        <div class="subtitle">
            Oops, No tienes permisos para acceder a esta pagina.
        </div>
        <div class="isi">
            Puede que tu sesión finalizara o que no iniciaras sesión aún
        </div>

        <div class="buttons">
            <a class="button" [routerLink]="['/login']">Volver a LogIn</a>
        </div>
    </div>
</div>
<style>
  @import url(https://fonts.googleapis.com/css?family=Raleway:700);

*, *:before, *:after {
  box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: #00008B;
    height: 100%;
    padding: 10px;
}

a {
  color: #EE4B5E;
  text-decoration:none;
}
a:hover {
  color: #FFFFFF;
  text-decoration:none;
}

.text-wrapper {
    height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.title {
    font-size: 5em;
    font-weight: 700;
    color: #EE4B5E;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    color: #1FA9D6;
}
.isi {
    font-size: 18px;
    text-align: center;
    margin:30px;
    padding:20px;
    color: white;
}
.buttons {
    margin: 30px;
        font-weight: 700;
        border: 2px solid #EE4B5E;
        text-decoration: none;
        padding: 15px;
        text-transform: uppercase;
        color: #EE4B5E;
        border-radius: 26px;
        transition: all 0.2s ease-in-out;
        display: inline-block;

        .buttons:hover {
            background-color: #EE4B5E;
            color: dark;
            transition: all 0.2s ease-in-out;
        }
  }
</style>
