<div class="container-sm mt-7">
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">INICIAR SESION</h2>
              <form [formGroup]="frmLogin" id="frmLogin" (submit)="onSubmit()">
                <!-- Email input -->
                <div class="form-floating mb-3">
                    <input formControlName="idUsuario" type="text" id="idUsuario" class="form-control" placeholder="Id Usuario">
                    <label for="idUsuario">Id Usuario</label>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="passw" type="password" id="passw" class="form-control" placeholder="Contraseña">
                    <label for="passw">Contraseña</label>
                </div>
                <div class="alert alert-danger text-center"
            *ngIf="errorLogin">Contraseña o Usuario Incorrectos</div>
  
              
  
                <!-- Submit button -->
                <div class="d-grid gap-2">
                    <button class="btn btn-dark" form="frmLogin" type="submit" [disabled]="frmLogin.invalid">Iniciar</button>
                </div>
  
                
              </form>
              <div class="form-group mt-2 mb-0 row">
                <div class="col-12 mt-3 text-center">
                    <a [routerLink]="['/register']" class="text-muted">No tienes una cuenta? Registrate</a>
                </div>
            </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="../../../assets/img/loginfoto.jpg" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>

  
<!-- Section: Design Block -->
</div>


